The Scenario: TechCorp HR Data

Context: You are an HR Data Analyst for "TechCorp". You have been provided with a DataFrame named df containing employee records.

The DataFrame df has the following columns:

Name: The employee’s name (contains some missing values).

Department: The department they work in (e.g., IT, Sales, HR).

Role: Their job title (e.g., Analyst, Manager, Developer).

Experience: Years of experience.

Salary: Annual salary in USD.

Score: Most recent performance review score (contains missing values for new hires).

Note: Assume the DataFrame df is already loaded into your Python environment.

In [ ]:
import pandas as pd
import numpy as np

# Create DataFrame (TechCorp HR Data)
df = pd.DataFrame({
    "Name": ["Aman", "Riya", None, "Karan", "Neha", "Vikas", None],
    "Department": ["IT", "HR", "Sales", "IT", "HR", "Sales", "IT"],
    "Role": ["Developer", "Manager", "Analyst", "Developer", "Analyst", "Manager", "Developer"],
    "Experience": [3, 8, 2, 5, 4, 10, 1],
    "Salary": [60000, 90000, 45000, 70000, 52000, 110000, 40000],
    "Score": [4.5, 4.8, np.nan, 4.2, 4.0, 4.9, np.nan]
})

# Basic checks
print(df.shape)
print(df.dtypes)

# Missing values
print(df.isna().sum())

# Average salary per department
print(df.groupby("Department")["Salary"].mean())

# High performers
print(df[df["Score"] > 4.5])

# Employees with missing score
print(df[df["Score"].isna()])

Exercise Questions – Part 1

Write the exact Pandas code to answer the following questions.

A. Basic Averages

1. What is the average (mean) Salary for each Department?
2. What is the average (mean) Performance Score for each Role?

B. Counting and Sizing

3. How many actual, non-null Performance Score entries exist for each Department?
4. What is the total number of employee records (rows) in each Department, regardless of whether data is missing?

In [ ]:
#  Average Salary for each Department
df.groupby("Department")["Salary"].mean()

#  Average Performance Score for each Role
df.groupby("Role")["Score"].mean()

#  Non-null Performance Score count per Department
df.groupby("Department")["Score"].count()

#  Total employee records per Department
df.groupby("Department").size()

Department
HR       2
IT       3
Sales    2
dtype: int64

Exercise Questions – Part 2

A. Multiple Aggregations

1. Generate a summary table for Salary based on Department that shows the mean, maximum, minimum, and count in a single line of code.
2. Generate the same summary table (mean, max, min, count) but analyze the Performance Score based on the Role.

B. Grouping by Multiple Columns

3. Find the average Salary grouped by both Department and Role.
4. Find the average Performance Score grouped by both Department and Experience level.

In [7]:
# Salary summary by Department
df.groupby("Department")["Salary"].agg(["mean", "max", "min", "count"])

#  Performance Score summary by Role
df.groupby("Role")["Score"].agg(["mean", "max", "min", "count"])

#  Average Salary by Department and Role
df.groupby(["Department", "Role"])["Salary"].mean()

#  Average Performance Score by Department and Experience
df.groupby(["Department", "Experience"])["Score"].mean()

Department  Experience
HR          4             4.0
            8             4.8
IT          1             NaN
            3             4.5
            5             4.2
Sales       2             NaN
            10            4.9
Name: Score, dtype: float64